[user]
	name = Ryan Pendergast
	email = ryan.pendergast@gmail.com
[core]
	editor = nano
	excludesfile = ~/.gitignore
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
[pretty]
	userdate = "%C(auto)%h %<(12)%ar %C(blue)%<(15)%aN%C(reset)%C(auto) %d %s"
[format]
	pretty = userdate
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true

# From https://blog.gitbutler.com/how-git-core-devs-configure-git/
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[fetch]
        prune = true
        pruneTags = true
        all = true

[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

